<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark" style="height: 70px; color: white;">
      <div>
        <%= link_to("Recipes", recipes_path, style: "text-decoration: none; color: white;") %>
        |
        <%= link_to("Back to Home", "#{ROOT_DOMAIN}/", style: "text-decoration: none; color: white;") %>
      </div>

      <div>
        <%= link_to("New", new_recipe_path, style: "text-decoration: none; color: white;") %>
        |
        <%= link_to("Sign Out", "#{ROOT_DOMAIN}/auth/signout", style: "text-decoration: none; color: white;") %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
